<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="stylesheet" href="stylesheets/ie9.css" />
    <link rel="stylesheet" href="stylesheets/ie8.css" />


    <meta charset="UTF-8">
    <title>Iniciar Sesion</title>
</head>
<body  class="landing"  style="background-image: url(images/pic04.jpg);  background-position: center center;background-repeat: no-repeat;
 background-attachment: fixed;background-size: cover; background-color: #464646;

">
<br/>
<br/>
<br/>
<div style="display: flex;justify-content: center;align-items: center">

    <div style="width: 300px;color:#eeeeee">
        <form action="/registro" method="post">
            <label for="nombre">Usuario</label>
            <input type="text" class="form-control" id="user" name="user">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
            <label for="nombre">Contraseña</label>
            <input type="password" class="form-control" id="pass" name="pass">
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input  type="submit"  class="button" value="Registrarse"/>
        </form>
    </div>

</div>


</body>

</html>